* {
  border: 1px solid #ddd;
}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.syousai {
  margin-top: 60px;
}
.tagArea {
  border-bottom: 1px solid #DDD;
}
.center {
  text-align: center;
}
.none {
  margin-left: 0px;
}
